.journal-page {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 8% !important;
  /* justify-content: center; */
  margin: auto;
}

.journal-entry {
  /* position: relative; */
  width: 100%;
  /* height: 1000px; */
  margin: 40px 0px 40px 0px;
  /* background-color: white; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.entry-details {
  width: 20%;
  height: 100%;
  /* background-color: orange; */
  padding-left: 20px;
  color: #cfcfcf;
}

.entry-details h1 {
  font-size: 40px;
}

.entry-details h2 {
  font-size: 20px;
  margin-top: -20px;
}

.entry-photos {
  width: 75%;
  height: 100%;
  /* background-color: cyan; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.photo {
  width: 40%;
  height: 30%;
  max-width: 40%;
  max-height: 80%;
  min-width: 300px;
  min-height: 30%;
  object-fit: contain;
  object-position: 50% 50%;
  margin: 0px 20px 20px 20px;
}

/* #edi-photo {
  width: 60%;
  height: 40%;
  object-fit: contain;
  object-position: 50% 50%;
  margin: 20px;
}

#lights-photo {
  width: 60%;
  height: 90%;
  object-fit: contain;
  object-position: 50% 50%;
  margin: 20px;
} */
